@import url( https://fonts.googleapis.com/css?family=Montserrat );
body{
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    font-family: 'MonteCarlo', cursive;
    text-align: center;
    color: #772460;
    font-size: 120px;
}
h2{
    font-family: 'MonteCarlo', cursive;
    text-align: center;
    color: #772460;
    font-size: 100px;
    margin-top: -150px;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .texto{
        background-color: #d9c6c3;
        box-shadow:inset 0 0 10px #772460;
        border-radius: 3px;
        padding: 10px;
        width: 70%;
        margin-left: 13%;

    }
    .texto p{
        text-align: center;
        font-family: 'Montserrat';
    }
}
